$theme-colors: (
  success: #00d25b,
  warning: #ffab00,
  danger: #fc424a,
);

$content-bg: #000000;
$content-padding: 1.875rem 1.75rem;

$card-bg: #191c24;

$type1: 'Rubik', sans-serif;

$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-bold: 700;

$default-font-size: .875rem; // 14px as base font size