$emergency-colors: (
  low: #00d25b,
  medium: #ffab00,
  high: #fc424a,
);

$content-bg: #191c24;
$content-padding: 1.875rem 1.75rem;

$default-font-type: 'Rubik', sans-serif;
$default-font-weight: 700;
$default-font-size: .875rem; // 14px as base font size
$title-font-size: 1.65rem;