* {
    /*   border: solid 2px black; */
}

html,
body {
    background-color: #2c2f38;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: initial;
    text-decoration: initial;
}

h1 {
    position: absolute;
    top: 0;
    left: 0;
    padding: 25px 40px;
    margin: 0;
    letter-spacing: 10px;
    font-family: "微軟正黑體";
    color: #aaaaaa;
    font-size: 40px;
    margin-right: 50px;
    text-shadow: 10px 10px 35px rgba(0, 0, 0, 0.5);
}

.buttons {
    position: relative;
}

.button {
    border: solid 2px #aaaaaa;
    color: #aaaaaa;
    width: 500px;
    height: 100px;
    font-size: 40px;
    letter-spacing: 5px;
    font-family: "微軟正黑體";
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% 0;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.button:hover {
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.6);
    transform: translate(-5px, -5px);
}

.buttonReservoir:hover {
    border: solid 2px #bdc9fc;
    color: #bdc9fc;
}

.buttonPower:hover {
    border: solid 2px #e9eac5;
    color: #e9eac5;
}

.buttonEarthquake:hover {
    border: solid 2px #e2b1b6;
    color: #e2b1b6;
}